rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    //allow read: if request.auth.uid == request.resource.auth.uid;

    match /usernames/{docs = ** } {
      allow read, create: if true
    }

    match /users/{docs = ** } {
      allow create: if isValidedUserCreation()
    }

		match /users/{userId} {
			allow read: if belongsTo(userId);
      allow update: if belongsTo(userId) && isValidUserData();
			// allow create: if belongsTo(userId) && hasValidTimestamp() && isValidUserData();
		}

    match /users/{userId}/calls/{docs = ** } {
      // allow read, create, update: if belongsTo(userId);
			//allow create: if belongsTo(userId) && hasValidTimestamp();
      allow read, create, update: if true;
    }

    match /users/{userId}/activity/{docs = ** } {
      // allow read, create, update: if belongsTo(userId);
			//allow create: if belongsTo(userId) && hasValidTimestamp();
      allow read, create, update: if true;
    }

    match /users/{userId}/ble_uuid/{docs = ** } {
      // allow read, create, update: if belongsTo(userId);
			//allow create: if belongsTo(userId) && hasValidTimestamp();
      allow read, create, update: if true;
    }

    match /users/{userId}/posts/{docs = ** } {
      allow read: if belongsTo(userId);
			allow create: if belongsTo(userId) && isValidPost();
      allow update: if belongsTo(userId) && isValidUpdatedPost();
    }

		function belongsTo(userId) {
			return request.auth.uid == userId;
		}
		function hasValidTimestamp() {
			return request.time == request.resource.data.createdAt;
		}

    function isValidedUserCreation() {
      let userdoc = request.resource.data;
      let hasRequiredFields = userdoc.keys().hasAll(['displayName','email','photoURL','username']);
      
      return hasRequiredFields;
    }

    function isValidUserData() {
      let post = request.resource.data;
      let hasRequiredFields = post.keys().hasAll(['displayName', 'photoURL', 'username']);

      return hasRequiredFields;
    }

    function isValidPost() {
      let post = request.resource.data;
      let isOwner = post.uid == request.auth.uid;
      let isNow = request.time == request.resource.data.createdAt;
      let hasRequiredFields = post.keys().hasAll(['content', 'createdAt', 'uid', 'updatedAt','username']);

      return isOwner && hasRequiredFields && isNow;
    }

    function isValidUpdatedPost() {
      let post = request.resource.data;
      let hasRequiredFields = post.keys().hasAny(['content', 'createdAt', 'uid', 'updatedAt','username']);
      // let noMetaFields = post.keys().hasOnly(['content', 'updatedAt']);
      let isValidContent = post.content is string && post.content.size() < 10000;

      return hasRequiredFields && isValidContent; // && noMetaFields;
    }

	}
}